<launch>   

  
  
  <!-- start PointCloud Fast Filter -->
  <node name="velodyne_people" pkg="pff_ped" type="velodyne_people" output="screen">
    <param name="robot_height" value="6.0"/> <!-- Default 0.5 (50cm) -->
    <param name="sensor_height" value="0.60"/> <!-- Default 0.15 (15cm) -->
    <param name="min_vision_range" value="0.1"/> <!-- Default 0.3 (30cm) -->
    <param name="max_vision_range" value="30.0"/> <!-- Default 50 (50m) -->
    <param name="horizontal_fov" value="360"/> <!-- Default 360° -->
    <param name="resolution" value="0.2"/> <!-- Default 0.4° -->
    <param name="legs_begin" value="0.35"/> <!-- Default 0.25 (50cm) -->
    <param name="legs_end" value="0.60"/> <!-- Default 0.60 (60cm) -->
    <param name="trunk_begin" value="0.70"/> <!-- Default 0.80 (80cm) -->
    <param name="trunk_end" value="1.50"/> <!-- Default 1.50 (150cm) -->
  </node>


  <!-- start rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find pff_ped)/rviz_cfg/velodyne_people.rviz" />

  <!-- Run bag -->
  <arg name="bag" default="4"/>

  <group if="$(eval arg('bag') ==1)">
    <node pkg="rosbag" type="play" name="player" output="screen" args=" $(find pff_ped)/bags/student.bag -r 1"/>
  </group>

  <group if="$(eval arg('bag') ==2)">
    <node pkg="rosbag" type="play" name="player" output="screen" args=" $(find pff_ped)/bags/office.bag -r 1"/>
  </group>

  <group if="$(eval arg('bag') ==3)">
    <node pkg="rosbag" type="play" name="player" output="screen" args=" $(find pff_ped)/bags/robotics.bag -r 1"/>
  </group>

  <group if="$(eval arg('bag') ==4)">
    <node pkg="rosbag" type="play" name="player" output="screen" args=" $(find pff_ped)/bags/corridor.bag -r 2"/>
  </group>

</launch>
